#!/bin/sh

#
# Opennet CA Scripts Variable  File
# Mathias Mahnke, created 2013/12/29
# Opennet Admin Group <admin@opennet-initiative.de>
#

# variables global
CSR_MAILTO="csr@opennet-initiative.de"
CSR_MAILSUBJECT="Opennet CA - Certificate Signing Request"
CSR_MAILFOOTER="-- \nOpennet Initiative e.V.\nhttp://www.opennet-initiative.de\nCA Status: http://ca.opennet-initiative.de"

# csr variables
CSR_UPLOADDIR=csr_upload
